body {
       height: 100%;
        position: relative;
         font-family: 'Nunito', sans-serif;
    }
    /*header block css*/
    .logo__block{
    	width:215px;
    	padding: 10px;
    }
    /*first section css*/
.background__bg{
	background:#F2F6F9;
}
.title__block h2{
	color: #23743b;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-family: Helvetica;
    padding: 0.5em;
}
/*first section card css*/
.card{
	box-shadow: 0 0px 7px 5px rgba(0,0,0,.12);	
    border-radius: 15px;
    height: 380px;
    width: 100%;
    padding: 1.5em;
    background:#fff;
    transform: translate(0, 0.5em);
}
.card-body h3{
	font-family: Nunito;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-body strong{
	color:red;
	text-transform: capitalize;
	
}
.card-text{
	font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #999;
}
/*cta css */
.btn__block{
	text-align: center;
	margin-top: 20px;
}
.btn.request__demo {
    background: linear-gradient(90deg,#ff8a00 -10%, #DC143C 28.12%);
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    border-radius: 40px;
    width: 180px;
    height: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: .16px;
    text-transform: uppercase;
    color: #fff;
}
.btn.request__demo:focus{
	outline: none !important;
}
.fa-long-arrow-right {
	padding-left:20px; 
}
/*second block section css*/
hr {
    border-top: 2px solid red !important;
    width: 80px;
}
.sub__header{
	font-family: Nunito;
    font-size: 18px;
    line-height: 23px;	
    color: #999;
}
.sub__header {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 23px;
    color: #999;
    text-align: center;
}
.list__block{
	font-family: Helvetica;
    font-size: 16px;
    line-height: 25px;
    color: #999
}

.l1sttt{
	font-weight: 800;
	color:#23743b;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}
/*form block css */
.form__block{
	margin-top: 50px;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.contact-info div[class*="col-"] {
    padding-left: 15px;
}
.contact-info .dropdown button{
    border-radius: 0;
    border: 0;
}

.contact-info .mobile-input{
    padding-left: 0px !important;
    
}
.contact-info .mobile-input i.fainput{
    display: none;
    
}
.contact-info .mobile-input .align-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info .mobile-input input:valid ~ i.fainput {
    color: #78ac8d;
    margin-top: 9px;
    vertical-align: middle;
    margin-right: 14px;
    display: block;
}
.term__section{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 20px 20px;
}
.second__block{
	margin: 20px;
}

/*modal secton css*/
.card__item{
	margin: 0px 0px;

}
.modal__card h5{
	font-family: Nunito;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #757575;
    text-align: center;
    margin: 0px;
}
.modal__card .card-text{
font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    color: #333;
    opacity: .5;
    text-align: center;
}
.modal__card{
	box-shadow: 0 0px 7px 5px rgba(0,0,0,.12);
    border-radius: 15px;
    width: 100%;
    padding: 20px 10px;
    background: #fff;
    transform: translate(0, 0.5em);
}
.modal__card .sub__section{
	font-family: Nunito;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    color: #333;
    text-align: center;
}
.tab__block{
	display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    margin: 50px;
}
.border__block{
	border-bottom: 1px solid #999;
    transform: rotate(90deg);
    width: 70px;
    margin: auto 0px;
    opacity: .5;
}

.tab__button{
	padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    background: none;
    height: 70px;
    width: 70px;
    position: relative;
    color: #999;
}
.tab__button.active{
	color: green;

}

.tab__button:before{
	content: "\f058";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 20px;
    padding-right: 0.5em;
    position: absolute;
    top: -7px;
    left: 44px;
    background: #fff;
    height: 15px;
    width: 20px;
}

.tab__button:focus{
	outline: none !important;
}
.box__block{
	margin: 40px;
}
.dummy__tab__block{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.dummy__block {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
    color: #333;
    
    text-align: center;
}
.action__block{
		border: 1px solid;
    padding: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    opacity: .5;
}
.action__block.active{
	color: green;
    border: 1px solid green;
    opacity: 1;
    font-weight: bold;
}
.modal-body .card{
	height: auto;
}



.list__section{
	text-align: center;
}
.dot1 {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
span.dot1.active{
	background: green;
}
span.dot2.active{
	background: green;
}
span.dot3.active{
	background: green;
}
div#modalBox{
	background: rgba(255, 255, 255, 0.9);
}
.modal-body {
    position: relative;
     padding: 0px; 
    margin: 80px auto;
}
/*fixed btn section css*/
.fixed-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    z-index: 10;
    display: block;
    width: 100%;
    background-color: #47ff5d;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    border: 0;
    font-size: 18px;
}

.fixed-btn.show{
    visibility: visible;
    opacity: 1;
}
